h1 {
    background-color: rgb(206, 235, 225);
    margin: auto;
    border: 1px solid black;
    width: 14rem;
    text-align: center;
}

h2 {
    background-color: transparent;
    border: 1px solid black;
    margin: auto;
    width: 10rem;
    text-align: center;
    box-shadow: 4px 4px 4px 4px rgb(83, 83, 83);
}

h3 {
    text-align: center;
}